<head>
	<title>EaselJS Sprites Tutorial 01</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Import EaselJS Framework -->
	<script src="http://code.createjs.com/easeljs-0.6.0.min.js"></script>
	<script src="game.js"></script>
	<script src="player.js"></script>
	<script src="content_manager.js"></script>

</head>

<body>
	<div class="description">

	</div>
	<div class="canvasHolder">
		<canvas id="testCanvas" width="900" height="300" style="background-color:green;">
		Your browser doesn't support canvas. Please download IE9+ on <a href="http://ie.microsoft.com/testdrive">IE Test Drive</a> 
		</canvas>
	</div>
	<button id="start">Start</button>
	<button id="pause">Pause</button>
	<button id="reset">Reset</button>


	<script>
		$(function() {
			$("#start").click( function()
			{
				init();
			}
			);
			$("#pause").click( function()
			{
				suspend($(this));
			}
			);
			$("#reset").click( function()
			{
				reset();
			}
			);
		});
	</script>

</body>
