<!doctype html>
<html ng-app="metrogram">
<head>
  <meta charset="utf-8" />
  <title>Devil's Harvest Jacakalope</title>
  <link rel="stylesheet" href="assets/style.css" />
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon"> 
  <script src="assets/angular.min.js"></script>
  <script src="assets/metrogram.js"></script>
</head>
<body ng-controller="slideshow" ng-class="loadingClass">
  <h1>
    <img src="assets/instagram-logo.png" /> 
    #<input type="text" ng-model="tag" ng-change="tagChange()" ng-init="tag = 'devilsharvest'" size="{{ tag.length }}" />
  </h1>

  <ul id="slides">
    <li ng-repeat="image in images" class="slide" ng-class="{ active : image.isActive }">
      <figure>
        <img ng-src="{{ image.images.standard_resolution.url }}" class="image" />
      </figure>

      <div class="meta">
        <p class="caption">
          <cite class="author">
            <img ng-src="{{ image.user.profile_picture }}" width="40" height="40" /> 
            {{ image.user.username }}
          </cite> 
          {{ image.caption.text }}
        </p>
        <p class="likes">
          &hearts; {{ image.likes.count }} likes
        </p>
      </div>
    </li>
  </ul>
</body>
</html>
