/*
	Created by Kaspars Dambis
	http://konstruktors.com

	Background pattern by Richard Tabor:
	http://subtlepatterns.com/purty-wood/
*/

body { font:18px/1.2 sans-serif; margin:0 auto; padding:0; height:100%; width:100%; background:url('1kJ064F.jpg'); text-shadow:0 1px 0 rgba(255,255,255,0.5); }
ul, li { margin:0; padding:0; list-style:none; display:block; }
cite { font-style:normal; }
h1 { text-align:center; margin:0; padding:0.4em 0; width:60%; color:#fff; text-shadow:0 -1px 0 #333; }
h1 input { text-shadow:0 -1px 0 #333; margin:0; padding:0; border-radius:0.1em; }
h1:hover input { background:rgba(0,0,0,0.1); }
h1 img { vertical-align: middle; }
img { border-radius:0.2em; }
input { color:inherit; font:inherit; border:none; background:transparent; outline:none; }
p { color:#FFF; }
.loading { opacity:0.5; -webkit-transition: all 0.5s; }
#slides { width:100%; position:absolute; top:4em; bottom:0; overflow:hidden; -webkit-transition: all 0.5s; }
.slide { top:0; position:absolute; width:100%; height:100%; opacity:0; -webkit-transform: translate3d(0, 100%, 0);-webkit-transition: all 1.5s; }
.slide.active { top:0; opacity:1; -webkit-transform: translate3d(0,0,0); }
.slide figure { position:absolute; bottom:2em; top:0.5em; left:0; right:40%; }
.slide .image { height:100%; width:auto; max-height:100%; max-width:100%; margin:0 auto; display:block; box-shadow:0 0 20px rgba(0,0,0,0.7); }
.slide .caption { font-size:24px; }
.author img { float:left; margin:0 -10em 0 -50px; }
.qr img { width:100px; height:100px; }
.meta { height:0; margin-left:64%; width:35%; position:relative; z-index:10; }
.meta cite { display:block; }
.comments { margin-left:1em; }
.comment { display:block; clear:both; min-height:2.5em; padding:0 2em 1em; margin:0; }
